.widget {
    background-color: rgb(175, 137, 87);
    padding: 5px 5px;
}


table {
    width: 100%;
 }

 .mat-header-row, .mat-row {
    height: 20px !important;
  }

.mat-column-Name {
    width: 60%;
}
.mat-column-TimeF {
    width: 40%;
}