<div class="row container">
    <div class="col-sm-6 players">
        <div *ngFor="let widget of servers">
        <app-widget [ipport]="widget.ipport"></app-widget>
        </div>
    </div>
    <div class="col-sm-6 server-list">
        
        <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
        <button mat-button (click)="loadDefaults()" mat-flat-button color="warn">Reload with Tomiko defaults</button>
        <div>

            <table mat-table [dataSource]="servers" #mytable class="my-table mat-elevation-z8">
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="ipport">
                <th mat-header-cell *matHeaderCellDef> Ip and port </th>
                <td mat-cell *matCellDef="let element"> {{element.ipport}} </td>
            </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link"> 
                <a (click)="openDialog('Update',element)">Edit</a> | 
                <a (click)="openDialog('Delete',element)">Delete</a>  
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           
        </div>
    </div>
</div>
