.container {    
    padding: 24px;
}

.mat-header-row, .mat-row {
    height: 20px !important;
  }

.my-table {
    width: 100%;
}

.action-link a:nth-child(2) {
    color: brown;
}

::ng-deep .mat-expansion-panel{
    background: transparent;
    color: rgba(0,0,0,0); /* transparent */
}
::ng-deep .mat-expansion-panel-header{
    background: rgb(207, 201, 114);
    color: rgba(0,0,0,.87); 
}

::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
    border-radius: 10px;
    background: rgba(0,0,0,.26);
    color: rgb(107, 190, 198);
}